body {
  max-width: 393px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding-right: 0 !important; // 避免在 offcanvas 顯示時自動加上的 padding-right
  &::-webkit-scrollbar {
    display: none; /* 隱藏滾動條 */
  }
}
.wrapper {
  padding: 0 16px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  // text-decoration: none; //已設定 $link-decoration: none
  color: inherit;
  display: inline-block;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 字體基準大小 (Base Value)
$font-size-base: 11px;

// 標題 (Headings)
h1 {
  font-size: 1.75rem; // 28px
}
h2 {
  font-size: 1.4375rem; // 23px
}
h3 {
  font-size: 1.1875rem; // 19px
}
.h1-b {
  font-size: 1.75rem; // 28px
  font-weight: 700;
}
.h2-b {
  font-size: 1.4375rem; // 23px
  font-weight: 700;
}
.h3-b {
  font-size: 1.1875rem; // 19px
  font-weight: 700;
}

// 文字樣式 (Text)
.t1 {
  font-size: 1rem; // 16px
}
.t2 {
  font-size: 0.8125rem; // 13px
}
.t3 {
  font-size: 0.6875rem; // 11px
}
.t1-b {
  font-size: 1rem; // 16px
  font-weight: 700;
}
.t2-b {
  font-size: 0.8125rem; // 13px
  font-weight: 700;
}
.t3-b {
  font-size: 0.6875rem; // 11px
  font-weight: 700;
}

[class^="mgc_"] {
  font-size: 24px; // 設定圖示大小
  width: 24px;
  height: 24px;
}
// 新的 class 專門設定圖示大小為 28px
.icon-large {
  font-size: 28px;
  width: 28px;
  height: 28px;
}
// 新的 class 專門設定圖示大小為 14px
.icon-small {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

// 顏色參數
:root {
  --navbar-surface: #ffffff;
  --navbar-text: #737373;
  --background: #f6f6f6;
  --head-primary: #22c55e;
  --head-label: #1a1a1a;
  --surface-primary: #ffffff;
  --surface-primary-hover: #f6f6f6;
  --stroke-primary: #e7e7e7;
  --icon-primary: #454545;
  --icon-secondary: #ff8b35;
  --text-primary: #262626;
  --text-secondary: #4f4f4f;
  --filter-btn-text: #737373; // 變數名稱待確認
  --filter-btn-surface: #f6f6f6; // 變數名稱待確認
  --filter-btn-text-hover: #ffffff; // 變數名稱待確認
  --filter-btn-surface-hover: #3d3d3d; // 變數名稱待確認
}
// 深色模式顏色
body.dark-mode {
  --navbar-surface: #454545;
  --navbar-text: #b0b0b0;
  --background: #262626;
  --head-primary: #262626;
  --head-label: #ffffff;
  --surface-primary: #4f4f4f;
  --surface-primary-hover: #3d3d3d;
  --stroke-primary: #4f4f4f;
  --icon-primary: #d1d1d1;
  --icon-secondary: #ffb56f;
  --text-primary: #f6f6f6;
  --text-secondary: #b0b0b0;
  --filter-btn-text: #ffffff; // 變數名稱待確認
  --filter-btn-surface: #3d3d3d; // 變數名稱待確認
  --filter-btn-text-hover: #737373; // 變數名稱待確認
  --filter-btn-surface-hover: #f6f6f6; // 變數名稱待確認
}

.navbar {
  background-color: var(--navbar-surface);
  color: var(--navbar-text);
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

h1,
h2,
h3 {
  color: var(--head-primary);
}

p {
  color: var(--text-primary);
}

.label {
  color: var(--head-label);
}

.button {
  background-color: var(--surface-primary);
}

.button:hover {
  background-color: var(--surface-primary-hover);
}

.icon-add:before {
  color: var(--navbar-surface);
}
.icon-primary:before {
  color: var(--icon-primary);
}
.icon-secondary:before {
  color: var(--icon-secondary) !important;
}

.object-fit {
  object-fit: cover;
}
