<footer class="footer w-100">
  <ul class="d-flex align-items-start justify-content-between pt-4 pb-6">
    <li
      class="nav-item d-flex flex-column align-items-center gap-1 position-relative"
    >
      <span class="mgc_home_7_fill icon-primary align-text-bottom"></span>
      <a
        class="nav-link t3 pt-0 stretched-link"
        aria-current="page"
        href="../pages/index.html"
      >
        首頁</a
      >
    </li>
    <li
      class="nav-item d-flex flex-column align-items-center gap-1 position-relative"
    >
      <span class="mgc_list_search_fill icon-primary align-text-bottom"></span>
      <a class="nav-link t3 pt-0 stretched-link" href="#">紀錄</a>
    </li>
    <li class="d-flex align-items-center">
      <button type="button" class="add-btn border-0">
        <span class="mgc_add_fill icon-add align-text-bottom"></span>
      </button>
    </li>
    <li
      class="nav-item d-flex flex-column align-items-center gap-1 position-relative"
    >
      <span class="mgc_chart_pie_2_fill icon-primary align-text-bottom"></span>
      <a class="nav-link t3 pt-0 stretched-link" href="#">圖表AI</a>
    </li>
    <li
      class="nav-item d-flex flex-column align-items-center gap-1 position-relative"
    >
      <span class="mgc_settings_5_fill icon-primary align-text-bottom"></span>
      <a class="nav-link t3 pt-0 stretched-link" href="../pages/setting.html"
        >設定</a
      >
    </li>
  </ul>
</footer>
