<!-- <h1>我是 header</h1>
<a href="index.html">index</a>
<a href="setting.html">setting</a>
<a href="contact.html">contact</a> -->
<header class="header w-100">
  <ul class="nav nav-underline d-flex">
    <li class="nav-item w-50 px-0">
      <a class="nav-link text-center active" aria-current="page" href="#"
        >icon人<span>個人記帳</span></a
      >
    </li>
    <li class="nav-item w-50 px-0">
      <a class="nav-link text-center" href="#">icon群組<span>群組分帳</span></a>
    </li>
  </ul>
  <!-- <ul class="nav">
    <li class="w-50 text-center tabActive">
      <a href="#"><span>icon</span>個人記帳</a>
    </li>
    <li class="w-50 text-center">
      <a href="#" class="">群組分帳</a>
    </li>
  </ul> -->
</header>
