<header class="menuTab w-100"></header>
  <ul class="nav nav-underline d-flex">
    <li class="nav-item w-50 px-0">
      <a
        class="nav-link text-center <%= page === 'index' ? 'active' : '' %>"
        href="./index.html"
        >icon<span>個人記帳</span></a
      >
    </li>
    <li class="nav-item w-50 px-0">
      <a
        class="nav-link text-center <%= page === 'group-index' ? 'active' : '' %>"
        href="./group-index.html"
        >icon<span>群組分帳</span></a
      >
    </li>
  </ul>
</header>