<ul class="d-flex overflow-x-scroll scroll-none mb-4">
  <li class="me-2 ms-4">
    <a
      href="./index.html"
      class="rect-btn <%= page === 'index' ? 'active' : '' %> d-flex flex-column align-items-center p-5"
    >
      <span class="mgc_book_6_line mgcIcon mb-2"></span>
      個人總覽</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_dinner_line mgcIcon mb-2"></span>生活帳本</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_pig_money_line mgcIcon mb-2"></span>儲蓄帳本</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_trending_up_fill mgcIcon mb-2"></span>投資帳本</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_add_fill mgcIcon mb-2"></span>新增帳本</a
    >
  </li>
</ul>
