<header class="menuTab w-100 sticky-top">
  <div>
    <img src="../assets/images/statusbar.svg" alt="" class="status-bar-bg" />
  </div>
  <ul class="nav nav-underline nav-bg d-flex">
    <li class="nav-item w-50 px-0">
      <a
        class="nav-link d-flex align-items-bottom justify-content-center <%= page === 'index' ? 'active' : '' %>"
        href="./index.html"
        id="personIndex"
        ><span class="mgc_user_3_fill mgcIcon me-2"></span>個人記帳</a
      >
    </li>
    <li class="nav-item w-50 px-0">
      <a
        class="nav-link d-flex align-items-bottom justify-content-center <%= page === 'group-index' ? 'active' : '' %>"
        href="./group-index.html"
        id="groupIndex"
        ><span class="mgc_group_3_fill mgcIcon me-2"></span
        ><span>群組分帳</span></a
      >
    </li>
  </ul>
</header>
