<ul class="d-flex overflow-x-scroll scroll-invisible">
  <li class="me-2">
    <a
      href="./group-index.html"
      class="rect-btn d-flex flex-column align-items-center p-5 <%= page === 'group-index' ? 'active' : '' %>"
      ><span class="mgc_book_6_line mgcIcon mb-2"></span>群組總覽</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_cake_line mgcIcon mb-2"></span>生日派對</a
    >
  </li>
  <li class="me-2">
    <a
      href="./travel-index.html"
      id="travelTest"
      class="rect-btn d-flex flex-column align-items-center p-5 <%= page === 'travel-index' ? 'active' : '' %>"
      ><span class="mgc_airplane_line mgcIcon mb-2"></span>泰國旅遊</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_miyajima_torii_line mgcIcon mb-2"></span>日本行</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_taipei101_line mgcIcon mb-2"></span>台北之旅</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_house_line mgcIcon mb-2"></span>民宿包棟</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_folder_download_line mgcIcon mb-2"></span>封存</a
    >
  </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_add_fill mgcIcon mb-2"></span>新增分帳</a
    >
  </li>
</ul>
