<header class="sticky-top header-w-btn">
  <div class="setting-header">
    <img src="../assets/images/statusbar.svg" alt="" class="status-bar" />
    <div class="d-flex justify-content-between align-items-end record-title">
      <h1 class="h1-b text-white">紀錄</h1>
      <button
        type="button"
        class="btn dropdown-toggle t1-b text-white border-0 p-0 d-flex justify-content-between align-items-center"
        data-bs-toggle="modal"
        data-bs-target="#personalAccountBook"
      >
        全部帳本
        <span class="mgc_down_small_fill icon-primary ms-1"></span>
      </button>
    </div>
  </div>
</header>
