<div
  class="modalBottom modal fade"
  id="modalBottom"
  tabindex="-1"
  aria-labelledby="modalBottomLabel"
  aria-hidden="true"
>
  <div class="modal-dialog fixed-bottom start-50 translate-middle-x m-0">
    <div class="modal-content">
      <div class="px-5 pt-3 pb-4">
        <div class="d-flex justify-content-between">
          <h3 class="modal-title" id="modalBottomLabel">個人記帳帳本</h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
      </div>
      <div class="px-4">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center" href="#"
              ><span class="mgc_dinner_line mgcIcon me-2"></span>生活帳本</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./record.html" aria-current="page"
              ><span class="mgc_pig_money_line mgcIcon me-2"></span>儲蓄帳本</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><span class="mgc_trending_up_fill mgcIcon me-2"></span
              >投資帳本</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
