<div class="main-card mb-4" id="info-visible-item">
  <div class="titleArea d-flex justify-content-between align-items-center mb-5">
    <h4 class="fs-6">月結餘</h4>
    <span class="mgc_question_fill mgcIcon"></span>
  </div>
  <div class="d-flex px-5">
    <p class="text-primary-500 fw-bold me-2">TWD</p>
    <p class="fs-3 fw-bold">2,081,600</p>
    <button
      type="button"
      class="btn eyeBtn border-0 p-0 ms-auto"
      id="hiddenBtn"
    >
      <span class="mgc_eye_2_fill mgcIcon"></span>
    </button>
  </div>
  <hr />
  <div class="d-flex px-5">
    <div class="w-50 d-flex border-end me-2">
      <p class="text-neutral-500 me-2">總支出</p>
      <p class="text-neutral-950 fw-bold flex-grow-1">$45,202</p>
    </div>
    <div class="d-flex flex-fill">
      <p class="text-neutral-500 me-2">總收入</p>
      <p class="text-neutral-950 fw-bold flex-grow-1">$120,000</p>
    </div>
  </div>
</div>
<div class="main-card mb-4 d-none" id="info-invisible-item">
  <div class="titleArea d-flex justify-content-between align-items-center mb-5">
    <h4 class="fs-6">月結餘</h4>
    <span class="mgc_question_fill mgcIcon"></span>
  </div>
  <div class="d-flex px-5">
    <p class="text-primary-500 fw-bold me-2">TWD</p>
    <p class="fs-3 fw-bold">****</p>
    <button type="button" class="btn eyeBtn border-0 p-0 ms-auto" id="showBtn">
      <span class="mgc_eye_close_fill mgcIcon"></span>
    </button>
  </div>
  <hr />
  <div class="d-flex px-5">
    <div class="w-50 d-flex border-end me-2">
      <p class="text-neutral-500 me-2">總支出</p>
      <p class="text-neutral-950 fw-bold flex-grow-1">****</p>
    </div>
    <div class="d-flex flex-fill">
      <p class="text-neutral-500 me-2">總收入</p>
      <p class="text-neutral-950 fw-bold flex-grow-1">****</p>
    </div>
  </div>
</div>
