.title-section {
    h3 {
        color: var(--head-label);
        font-weight: 700;
    }

    button[data-bs-toggle="modal"] {
        color: $neutral-400;
        font-weight: 700;
    }

    // dropdown-toggle 預設符號
    .dropdown-toggle {
        &::after {
            border-top: 0.3em solid $primary-500;
        }
    }
}

// main-card
.main-card {
    background-color: $white;
    padding: $spacer * 1.25;
    border: 1px solid $neutral-100;
    border-radius: $border-radius-xl * .75;
    box-shadow: -1px 7px 5px 0px #BABABA0D;

    .titleArea {
        .mgcIcon::before {
            color: $alert-b-500;
        }
    }

    .eyeBtn {
        .mgcIcon::before {
            color: $neutral-400;
        }
    }

    hr {
        border-top: 2px solid;
        color: $neutral-50;
    }
}

// category-item
// .category{

// }

// modal
.modalBottom.fade {
    .modal-dialog {
        transition: transform 1s ease-out;
        transform: none
    }

    .modal.show .modal-dialog {
        transform: translate(0, 200px);
    }
}

// progress
.secondaryProgress {
    background-color: $secondary-50;
    height: $spacer * .25;
    border-radius: $spacer * .25;

    .progress-bar {
        border-radius: $spacer * .25;
    }
}