.custom-btn-sm {
  padding: 4px 12px;
}
.custom-btn-primary {
  color: white;
  background-color: $primary-500;
  border: none;
  border-radius: 100px;
}

.filter-btn {
  padding: 8px 12px !important;
  color: var(--filter-btn-text) !important;
  background-color: var(--filter-btn-surface) !important;
  border: none !important;
  border-radius: 16px !important;
  box-shadow: -1px 7px 5px 0px #bababa0d, -4px 21px 6px 0px #bababa00;
  &.active {
    color: var(--filter-btn-text-hover) !important;
    background-color: var(--filter-btn-surface-hover) !important;
  }
}
