// 首頁選單方形按鈕
.rect-btn {
    background-color: $white;
    color: $neutral-400;
    text-wrap: nowrap;
    font-size: $t3-custom-font-size;
    border-radius: $border-radius-xl;

    .mgcIcon {
        font-size: 40px;
        line-height: 1;
        height: 40px;
        width: 40px;

        &::before {
            color: $neutral-100
        }

        &.mgc_add_fill::before {
            color: $primary-500
        }
    }

    &.active {
        background-color: $neutral-900;
        color: $neutral-50
    }
}

.square-category {
    border-radius: $border-radius-xl*1.25;
    background-color: $neutral-900;
    padding: $spacer*1.125;

    .mgcIcon {
        font-size: $h3-font-size;
        line-height: 1;
        height: 28px;
        width: 28px;

        &::before {
            color: $neutral-100;
        }
    }
}

// .category-item{
//     &:hover{

//     }
// }