.footer {
  max-width: 393px;
  text-align: center;
  position: fixed;
  z-index: 1030;
  bottom: 0;
  padding: 0 16px;
  margin: 0 auto;
  background-color: var(--navbar-surface);
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  .nav-item {
    padding: 0 16px;

    .nav-link {
      color: var(--navbar-text);
    }

    &.active {
      .icon-primary:before,
      .nav-link {
        color: $primary-500 !important;
      }
    }

    &:hover {
      .icon-primary:before,
      .nav-link {
        color: $primary-500 !important;
      }
    }
  }

  .icon-primary:before {
    color: $neutral-300 !important;
  }

  .add-btn {
    width: 48px;
    height: 40px;
    background-color: $primary-500;
    border-radius: $border-radius-sm;
    box-shadow: 2px 4px 20px 4px rgba(34, 197, 94, 0.2);
  }

  .offcanvas-bottom {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    max-width: 393px; /* 設置為 footer 的最大寬度 */
    height: auto;
    max-height: 100vh;
    border-radius: $border-radius-lg;
    .offcanvas-header .btn-close {
      margin: 0;
    }
    .offcanvas-body {
      width: 100%;
      &::-webkit-scrollbar {
        display: none; /* 隱藏滾動條 */
      }
    }
  }
}

.addrecord {
  .icon-primary:before {
    color: $primary-500 !important;
  }
  .result-input-wrapper {
    border: 1px solid $neutral-200;
    border-radius: 16px;
    &:focus-within {
      border: 2px solid $primary-500;
    }
    button {
      color: $primary-500 !important;
    }
  }
  .result-input {
    border: none;
    border-radius: 0;
    padding: 0;
    &:focus {
      box-shadow: none; /* 移除外圈效果 */
    }
  }

  // .calendar {
  //   position: relative; /* 確保有適當的定位上下文 */
  //   white-space: nowrap;
  //   min-width: 124px;

  //   .form-control {
  //     min-width: 98px;
  //     width: calc(100% - 24px);
  //     padding: 0px 0px 0px 4px;
  //     height: 20px;
  //     padding-right: 24px; /* 為圖示留出空間 */
  //     box-sizing: border-box;
  //   }

  //   input[type="date"]::-webkit-calendar-picker-indicator {
  //     display: none; /* 隱藏預設日曆圖示 */
  //     -webkit-appearance: none; /* 針對 WebKit 瀏覽器 */
  //   }

  //   .mgc_down_small_fill {
  //     position: absolute;
  //     cursor: pointer;
  //     pointer-events: auto; /* 確保可以點擊 */
  //     top: 50%;
  //     transform: translateY(-50%);
  //     right: 0px;
  //   }
  // }

  .sync {
    border-bottom: 1px solid $neutral-200;
    button {
      border: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
    .form-check-input {
      margin: 0;
    }
  }
  .spendingCategory {
    border-bottom: 1px solid $neutral-200;
    .input-tag-list {
      display: flex;
      flex-wrap: nowrap !important;
      align-items: flex-start;
      overflow-x: auto;
      .nav-item {
        padding: 0;
      }
      .input-tag-item {
        margin-right: 8px;
        padding: 4px 8px;
        border-radius: 8px !important;
      }
      .input-tag {
        color: var(--filter-btn-text) !important;
        background-color: var(--filter-btn-surface) !important;
        &.active {
          color: var(--filter-btn-text-hover) !important;
          background-color: var(--filter-btn-surface-hover) !important;
        }
      }
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
  .cost-list li {
    border-bottom: 1px solid $neutral-200;
  }
}

.addrecord-item {
  .input-group:focus-within label,
  .input-group:focus-within .img-upload-icon {
    border-bottom: 2px solid $primary-500;
    transition: none;
    [class^="mgc_"]::before {
      color: $primary-500 !important;
    }
  }
  .form-label {
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $neutral-200;
  }
  .form-control {
    height: 100%;
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid $neutral-200;
    border-radius: 0;
    transition: none;
    &:focus {
      box-shadow: none;
      caret-color: $neutral-500;
      background-color: transparent;
      border-bottom: 2px solid $primary-500;
      transition: none;
    }
  }
  input::placeholder {
    color: $neutral-300;
    font-weight: normal;
  }
  .img-upload-icon {
    height: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $neutral-200;
  }
}

.modal {
  left: auto;

  &-backdrop {
    display: none !important; /* 隱藏 Modal 背景遮罩 */
  }

  .fade .modal-dialog {
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }

  .show .modal-dialog {
    transform: translateY(0);
  }

  .modal-content {
    border: 0;
    border-radius: $border-radius-sm;
    background-color: $neutral-300;
  }
}

.calculator-modal-wrapper {
  .modal.fade .modal-dialog {
    transform: translateY(100%) !important;
    transition: transform 0.2s ease-out;
  }
  .modal.show .modal-dialog {
    transform: translateY(0) !important;
  }
  .calculator-modal {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 393px; /* 設置為 footer 的最大寬度 */
    height: 313px;

    .modal-content {
      border: 0;
      border-radius: $border-radius-sm;
      background-color: $neutral-300;

      .calculator {
        border-radius: $border-radius-sm;
        background-color: $neutral-300;

        .calculator-keys {
          height: 313px;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 4px;
          padding: 12px 16px 16px 16px;

          button {
            border-bottom: 1px solid $neutral-950;
            border-radius: $border-radius-sm;
            font-weight: $font-weight-bold;
          }

          span {
            pointer-events: none;
          }
          [class^="mgc_"]::before {
            color: white !important;
          }
        }

        .equal-sign {
          height: 100%;
          grid-area: 3 / 5 / 5 / 5;
        }
      }
    }
  }
}
