.menuTab {
    .nav-underline {
        gap: 0;
    }

    .nav-link {
        color: var(--navbar-text);

        .mgcIcon::before {
            color: var(--navbar-text);
        }

        &.active {
            color: var(--text-primary);
            border-bottom-color: $primary-500;

            .mgcIcon::before {
                color: $primary-500;
            }

        }
    }
}