.menuTab {
    .status-bar-bg {
        // 待設定darkmode variables
        background-color: $light;
    }

    .nav-bg {
        // 待設定darkmode variables
        background-color: $light;
    }

    .nav-underline {
        gap: 0;
    }

    .nav-link {
        font-size: map-get($font-sizes, c5);
        font-weight: 700;
        color: $neutral-200;
        border-bottom: 1px solid $neutral-200 ;
        padding: map-get($spacers, 3) 0;

        .mgcIcon {
            // font-size: map-get($font-sizes, 3);
            line-height: 1;
        }

        .mgcIcon::before {
            color: $neutral-200;
        }

        &.active {
            color: $black;
            border-width: 2px;
            border-bottom-color: $primary-500;

            .mgcIcon::before {
                color: $primary-500;
            }

        }
    }
}