<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>群組總覽</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%-
    include('./layout/menu',{page:"group-index"}); -%>
    <div class="wrapper">
      <div class="d-flex justify-content-between align-items-center">
        <p class="">選擇帳本</p>
        <div class="dropdown">
          <a
            class="btn dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            全部帳本
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">生日派對</a></li>
            <li><a class="dropdown-item" href="#">泰國旅遊</a></li>
            <li><a class="dropdown-item" href="#">日本行</a></li>
          </ul>
        </div>
      </div>
      <%- include('./layout/menu-catalog.ejs',{page:"group-index"}); -%>
      <div id="homeArea">
        <p>群組分帳首頁區塊</p>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
