<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>群組圖表</title>
  </head>
  <body>
    <%- include('./layout/menu',{page:"group-index"}); -%>
    <div class="px-4 mt-4 mb-3">
      <div
        class="title-section d-flex justify-content-between align-items-center"
      >
        <h3>選擇帳本</h3>
        <button
          type="button"
          class="btn border-0 p-0 dropdown-toggle"
          data-bs-toggle="modal"
          data-bs-target="#groupAccountBook"
        >
          全部帳本
        </button>
        <!-- modalBottom -->
        <%-
        include('./layout/group-AccountBook-btmSheet.ejs',{page:"group-index"});
        -%>
      </div>
    </div>
    <%- include('./layout/menu-catalog.ejs',{page:"group-index"}); -%>
    <div class="wrapper">
      <div class="py-4">
        <div
          class="title-section d-flex justify-content-between align-items-center mb-3"
        >
          <h3>2024 年 07 月</h3>
          <button
            type="button"
            class="btn border-0 p-0 dropdown-toggle"
            data-bs-toggle="modal"
            data-bs-target="#modalBottom"
          >
            每月統計
          </button>
          <!-- modalBottom -->
          <%- include('./layout/time-btmSheet.ejs'); -%>
        </div>
        <div class="mb-3">
          <div class="main-card">
            <div class="d-flex justify-content-center w-100">
              <canvas
                id="acquisitions"
                height="200"
                data-disable-animations="true"
                data-allow-hover="true"
              ></canvas>
            </div>
            <ul>
              <li
                class="d-flex justify-content-between align-items-center px-5 mb-2"
              >
                <p class="roundedTag-sm">票卷</p>
                <p class="fw-bold">
                  ＄24,000 <span class="text-neutral-500 ms-4">48%</span>
                </p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center px-5 mb-2"
              >
                <p class="roundedTag-sm">食物</p>
                <p class="fw-bold">
                  ＄12,050 <span class="text-neutral-500 ms-4">24%</span>
                </p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center px-5 mb-2"
              >
                <p class="roundedTag-sm">住宿</p>
                <p class="fw-bold">
                  ＄9,080 <span class="text-neutral-500 ms-4">18%</span>
                </p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center px-5"
              >
                <p class="roundedTag-sm">飲料</p>
                <p class="fw-bold">
                  ＄4,950 <span class="text-neutral-500 ms-4">10%</span>
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-3">
          <div class="main-card">
            <div
              class="titleArea d-flex justify-content-between align-items-center mb-1"
            >
              <h4 class="fs-6">近期支出</h4>
              <span class="mgc_information_fill mgcIcon"></span>
            </div>
            <p class="fw-bold px-5 mb-1">
              <span class="text-neutral-500 fw-normal me-2">平均</span>$45,680
            </p>
            <div class="expandChart">
              <canvas id="recentAnalysisExpense"></canvas>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="main-card">
            <div
              class="titleArea d-flex justify-content-between align-items-center mb-1"
            >
              <h4 class="fs-6">近期收入</h4>
              <span class="mgc_information_fill mgcIcon"></span>
            </div>
            <p class="fw-bold px-5 mb-1">
              <span class="text-neutral-500 fw-normal me-2">平均</span>$0
            </p>
            <div class="expandChart">
              <canvas id="recentAnalysisIncome"></canvas>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <button type="button" class="roundedBtn customBtn-primary border-0">
            匯出報表
          </button>
        </div>
      </div>
      <!-- <div class="d-flex flex-column w-100 cost-chart">
        <div class="d-flex justify-content-center w-100">
          <canvas
            id="acquisitions"
            width="200"
            height="200"
            data-disable-animations="true"
            data-allow-hover="true"
          ></canvas>
        </div>
      </div> -->
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
