<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%-
    include('./layout/menu',{page:"index"}); -%>
    <div class="wrapper">
      <div class="d-flex justify-content-between align-items-center">
        <p class="">選擇帳本</p>
        <div class="dropdown">
          <a
            class="btn dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            全部帳本
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">生日派對</a></li>
            <li><a class="dropdown-item" href="#">泰國旅遊</a></li>
            <li><a class="dropdown-item" href="#">日本行</a></li>
          </ul>
        </div>
      </div>
      <ul class="d-flex overflow-x-scroll scroll-invisible">
        <li class="me-2">
          <a
            href="./index.html"
            class="rect-btn active d-flex flex-column align-items-center p-5"
            ><span class="mgc_book_6_line mgcIcon mb-2"></span>個人總覽</a
          >
        </li>
        <li class="me-2">
          <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
            ><span class="mgc_dinner_line mgcIcon mb-2"></span>生活帳本</a
          >
        </li>
        <li class="me-2">
          <a
            href="#"
            class="rect-btn d-flex flex-column align-items-center p-5"
            ><span class="mgc_pig_money_line mgcIcon mb-2"></span>儲蓄帳本</a
          >
        </li>
        <li class="me-2">
          <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
            ><span class="mgc_trending_up_fill mgcIcon mb-2"></span>投資帳本</a
          >
        </li>
        </li>
  <li class="me-2">
    <a href="#" class="rect-btn d-flex flex-column align-items-center p-5"
      ><span class="mgc_add_fill mgcIcon mb-2"></span
      >新增帳本</a
    >
  </li>
      </ul>
    </div>
    <span class="mgc_search_line"></span>
    <span class="mgc_search_fill icon-large"></span>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <p class="t1">T1</p>
    <p class="t2">T2</p>
    <p class="t3">T3</p>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit,
          iusto odio assumenda alias id nobis earum!
        </p>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              關閉
            </button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
