<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>紀錄</title>
  </head>
  <body>
    <%- include('./layout/personal-record-header'); -%>

    <div class="d-flex flex-column">
      <div class="bg-white d-flex flex-column gap-3 w-100 p-4 search-record">
        <!-- modalBottom -->
        <%- include('./layout/personal-record-btmSheet.ejs'); -%>
        <form class="d-flex search-input">
          <div class="input-group">
            <div class="search-icon lh-1">
              <span
                class="mgc_search_2_fill icon-primary align-text-bottom"
              ></span>
            </div>
            <input
              class="form-control lh-1 t1 search"
              type="search"
              placeholder="搜尋記帳記錄"
              aria-label="搜尋記帳記錄"
              id="search-input"
            />
            <button type="button" class="custom-btn-close" id="clear-button">
              <span
                class="mgc_close_line icon-primary align-text-bottom"
              ></span>
            </button>
          </div>
        </form>

        <ul class="nav nav-pills gap-2 filter-btn-list" id="filter-buttons">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active filter-btn"
              id="filter-all"
              type="button"
            >
              全部
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link filter-btn" id="filter-date" type="button">
              日期排序
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link filter-btn" id="filter-type" type="button">
              記帳類型
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link filter-btn"
              id="filter-amount"
              type="button"
            >
              金額較高
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div id="record-list">
      <div
        class="record-item"
        data-date="2024-07-25"
        data-type="支出"
        data-amount="360"
      >
        <div class="d-flex flex-column gap-1 w-100 mb-1">
          <div class="card record-info">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between mb-1">
                <p class="t2 custom-text-muted">2024 / 07 / 25</p>
                <span
                  class="mgc_more_1_fill icon-primary align-text-bottom"
                ></span>
              </div>
              <h5 class="card-title t1-b">pad thai</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span
                    class="badge account-type-tag account-type-tag-secondary"
                    >支出</span
                  >
                  <span class="ms-1 h3-b">＄360</span>
                </div>
                <!-- 使用者頭像 -->
                <div class="d-flex user-list">
                  <img
                    src="../assets/images/avator/01.png"
                    class="rounded-circle object-fit m-0"
                    width="28"
                    height="28"
                    alt="Neil"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="record-item"
        data-date="2024-07-20"
        data-type="收入"
        data-amount="5000"
      >
        <div class="d-flex flex-column gap-1 w-100 mb-1">
          <div class="card record-info">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between mb-1">
                <p class="t2 custom-text-muted">2024 / 07 / 20</p>
                <span
                  class="mgc_more_1_fill icon-primary align-text-bottom"
                ></span>
              </div>
              <h5 class="card-title t1-b">打工工資</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span class="badge account-type-tag account-type-tag-primary"
                    >收入</span
                  >
                  <span class="ms-1 h3-b">＄5,000</span>
                </div>
                <!-- 使用者頭像 -->
                <div class="d-flex user-list">
                  <img
                    src="../assets/images/avator/01.png"
                    class="rounded-circle object-fit m-0"
                    width="28"
                    height="28"
                    alt="Neil"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="record-item"
        data-date="2024-07-20"
        data-type="收入"
        data-amount="360"
      >
        <div class="d-flex flex-column gap-1 w-100 mb-1">
          <div class="card record-info">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between mb-1">
                <p class="t2 custom-text-muted">2024 / 07 / 20</p>
                <span
                  class="mgc_more_1_fill icon-primary align-text-bottom"
                ></span>
              </div>
              <h5 class="card-title t1-b">銀行利息</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span class="badge account-type-tag account-type-tag-primary"
                    >收入</span
                  >
                  <span class="ms-1 h3-b">＄360</span>
                </div>
                <!-- 使用者頭像 -->
                <div class="d-flex user-list">
                  <img
                    src="../assets/images/avator/01.png"
                    class="rounded-circle object-fit"
                    width="28"
                    height="28"
                    alt="Neil"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="record-item"
        data-date="2024-07-20"
        data-type="收入"
        data-amount="39640"
      >
        <div class="d-flex flex-column gap-1 w-100 mb-1">
          <div class="card record-info">
            <div class="card-body p-0">
              <div class="d-flex justify-content-between m-0">
                <p class="t2 custom-text-muted">2024 / 07 / 15</p>
                <span
                  class="mgc_more_1_fill icon-primary align-text-bottom"
                ></span>
              </div>
              <h5 class="card-title t1-b">薪水</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <span class="badge account-type-tag account-type-tag-primary"
                    >收入</span
                  >
                  <span class="ms-1 h3-b">＄40,000</span>
                </div>
                <!-- 使用者頭像 -->
                <div class="d-flex user-list">
                  <img
                    src="../assets/images/avator/01.png"
                    class="rounded-circle object-fit"
                    width="28"
                    height="28"
                    alt="Neil"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
