<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>旅遊測試</title>
  </head>
  <body>
    <%- include('./layout/header'); -%> <%-
    include('./layout/menu',{page:"group-index"}); -%>
    <div class="wrapper">
      <div class="pt-4">
        <div
          class="title-section d-flex justify-content-between align-items-center mb-3"
        >
          <h3>選擇帳本</h3>
          <button
            type="button"
            class="btn border-0 p-0 dropdown-toggle"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#AccountBook"
          >
            全部帳本
          </button>
          <div
            class="modal fade"
            id="AccountBook"
            tabindex="-1"
            aria-labelledby="AccountBookLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog fixed-bottom">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="AccountBookLabel">
                    Modal title
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-primary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('./layout/menu-catalog.ejs',{page:"travel-index"}); -%>
      </div>
      <div class="py-4">
        <div
          class="title-section d-flex justify-content-between align-items-center"
        >
          <h3>2024 年 07 月</h3>
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              全部帳本
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="#">生日派對</a></li>
              <li><a class="dropdown-item" href="#">泰國旅遊</a></li>
              <li><a class="dropdown-item" href="#">日本行</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
